@model List<OlimpicGamesProject.Models.OlympicGames.CompetitorsEventViewModel>
@{
    ViewBag.Title = "Competitors";
    Layout = "_Layout";
}

<h2 class="text-center"> <span>List of participations in competitions</span></h2>

<table class="table text-center align-middle  table-bordered border-dark">
    <thead class="table-dark" style="font-size: 20px">
    <tr>
        <th>Sport Name</th>
        <th>Event Name</th>
        <th>Olympics</th>
        <th>Age During Event</th>
        <th>Medal</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var participation in Model)
    {
        <tr>
            <td>@participation.SportName</td>
            <td>@participation.EventName</td>
            <td>@participation.Olympics</td>
            <td>@participation.AthleteAge</td>
            <td>@participation.Medal</td>
            
        </tr>
    }
    </tbody>
</table>


<div class="mt-3 d-flex justify-content-between" >
    <div class="text-center mb-3">
        <a type="button" class="btn btn-outline-dark btn-lg" asp-action="ListOfAthletes">Back to list</a>
    </div>
    <div class="justify-content-end">
        <a type="button" class="btn btn-outline-dark btn-lg" asp-action="AddToEvent" asp-route-athleteId="@Model[0].AthleteId">Add Participation</a>
    </div>
</div>